.main-currency-table{
    position: relative;
    display: flex;
}

.currency-table--date{
    position: relative;
}

#table1,
#table2{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}

.container-arrow,
.container-arrow--left{
    display: none;
}


#table1,
#table2{
    display: flex;
    position: relative;
}

.product-cards--container{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0 auto;
}


.plans-container--slider{
    justify-content: center;
}

.plans-container--slider::-webkit-scrollbar {
    display: none;
}


