.currency-table{
    display: flex;
}


#table1,
#table2{
    display: flex;
}

.product-cards--container{
    display: flex;
    flex-wrap: wrap;
    width: 930px;
    margin: 0;
}


.plans-container--slider{
    justify-content: center;
}

.plans-container--slider::-webkit-scrollbar {
    display: none;
}


